 
<head th:fragment="common_header(title,links,scripts)">
<meta charset="UTF-8" />
<meta name="author" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- main JS libs -->
<script src="../static/city-break-css/js/libs/modernizr.min.js" th:src="@{/city-break-css/js/libs/modernizr.min.js}"></script>
<script src="../static/city-break-css/js/libs/jquery-1.10.0.js" th:src="@{/city-break-css/js/libs/jquery-1.10.0.js}"></script>
<script src="../static/city-break-css/js/libs/jquery-ui.min.js" th:src="@{/city-break-css/js/libs/jquery-ui.min.js}"></script>
<script src="../static/city-break-css/js/libs/bootstrap.min.js" th:src="@{/city-break-css/js/libs/bootstrap.min.js}"></script>
<script src="../static/city-break-css/js/chosen.jquery.min.js" th:src="@{/city-break-css/js/chosen.jquery.min.js}"></script>
<script src="../static/city-break-css/js/nicEdit.js" th:src="@{/city-break-css/js/nicEdit.js}"></script>
<script src="../static/city-break-css/js/jquery.powerful-placeholder.min.js" th:src="@{/city-break-css/js/jquery.powerful-placeholder.min.js}"></script>
<script src="../static/city-break-css/js/jquery.customInput.js" th:src="@{/city-break-css/js/jquery.customInput.js}"></script>
<!-- Style CSS -->
<link rel="stylesheet" href="../static/city-break-css/css/bootstrap.css" th:href="@{/city-break-css/css/bootstrap.css}" />
<link rel="stylesheet" href="../static/city-break-css/style.css"  th:href="@{/city-break-css/style.css}"  />
<link rel="stylesheet" href="../static/city-break-css/css/chosen.css"  th:href="@{/city-break-css/css/chosen.css}"  />
<link rel="stylesheet" href="../static/css/common.css"  th:href="@{/css/common.css}"  />
 
<!-- scripts -->
<script src="../static/city-break-css/js/general.js" th:src="@{/city-break-css/js/general.js}"></script>
<script src="../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
<script src="../static/js/jquery.cookie.js" th:src="@{/js/jquery.cookie.js}"></script>
<script src="../static/js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
<th:block th:replace="${links}" />
<th:block th:replace="${scripts}" />

</head>
