<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: common_header(~{::title},~{::link},~{::script})">
<link rel="stylesheet" href="../static/css/login.css"  th:href="@{/css/login.css}"  />
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
 <script>
   
 window.onload = function(){ 
	   if($.cookie('login_username')!=null){
		   $("#rememberLog").prop("checked",true);
		     $("#name").val($.cookie('login_username'));
	   }
 }
 
 </script>
</head>
<body  class="body_back">
 <div class="vertical_center">
 <form id="loginForm"  th:object="${userInfo}" >

         <div class="text_input">
		    <input type="text" name="name" id="name"   th:field="*{userName}"
		           onfocus="changeLog(0)"  />
		    <a id="username_log" class="error_log"></a>
		</div>
		
 
		<div class="text_input">
		    <input type="password" name="password" id="password"   th:field="*{password}"
		    	onfocus="changeLog(1)"  />
		     <a id="password_log"  class="error_log"></a>
		</div>   
 
	    <div class="rowCheckbox">
	        <input name="rememberLog" type="checkbox" id="rememberLog" onclick="remeberUserName()"/>
	        <label for="rememberLog">记住我</label>
	    </div>
	    
	    
 
		<div class="button_div">  
		<a onclick="openRegisteUserPage()" id="resign_button"  class="btn login_btn btn-icon btn-icon-right btn-icon-login btn-green"><span>注册</span></a>
        <a onclick="login()" id="login_button" class="btn btn-icon login_btn btn-icon-right btn-icon-go"><span>登录</span></a>

		</div>     
  
      </form>
     </div>  
</body>
</html>